{% extends 'base.html.twig' %}
{% block title %}Hypnos - Marrakech {% endblock %}


{% block content%}
    <link href="{{asset('assets/css/hypnosStyle.css')}}" rel="stylesheet">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="{{ asset('assets/image/hotel_maroc/marrakech_1.jpg') }}" alt="beach" style="width:100%">
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="{{ asset('assets/image/hotel_maroc/marrakech_spa.jpg') }}" alt="flower" style="width:100%">
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="{{ asset('assets/image/hotel_maroc/marrakech_3.jpg') }}" alt="flowers" style="width:100%">
                </div>
            </div>
        </div>
        <div class="row">
            <h1 class="centerTitle">
                Bienvenue a Marrakech
            </h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="{{ asset('assets/image/hotel_maroc/marrakech_food.jpg') }}" alt="beach" style="width:100%">
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="{{ asset('assets/image/hotel_maroc/marrakech_4.jpg') }}" alt="flower" style="width:100%">
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="{{ asset('assets/image/hotel_maroc/marrakech_food.jpg') }}" alt="flowers" style="width:100%">
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <p>
            Marrakech , est une ville située dans le centre du Maroc au pied des montagnes de l'Atlas.<br>
            Marrakech est surnommée « la ville rouge »ou la « ville ocre » en référence à la couleur rouge d'une grande partie de ses immeubles et ses maisons.<br>
            Elle abrite une vaste médina de 600 hectares, Ville la plus peuplée d'Afrique du Nord, et classée au patrimoine mondial de l'humanité par l'UNESCO.<br>
            Grâce à la vitalité de sa médina, vieille de 900 ans, ses infrastructures hôtelières de classe mondiale et son climat ensoleillé,<br>Marrakech s'est imposée comme la capitale incontestée du tourisme au Maroc.
        </p>
        <br>
        <h4 class="infoPays">
            <ul>
                <li>Monnaie : Dirham Marrocain ( 1€ = 10.60 MAD)<br></li>
                <li>Langue : Arabe ( Francais Courant )</li>
                <li>Temperature Moyenne Eté : 28 Degrés</li>
                <li>Temperature Moyenne Hivers : 18 Degrés</li>
                <li>Religion Principale : Musulman</li>
            </ul>
        </h4>
    </div>
    <br>
    <div class="container">
        <h1 class="center">
            Notre Hôtel :
        </h1>
        <p>
            Le luxueux hôtel Les Jardins De La Koutoubia est situé à 2 minutes de marche de la célèbre place Jamaâ El Fna. <br>Il propose un spa Carita, un jacuzzi dans chaque chambre et une piscine extérieure entourée de palmiers.<br>
            Vous bénéficierez d'un accès au hammam et à la piscine intérieure chauffée .<br>L'établissement compte en outre un salon de beauté. Des massages sont dispensés sur demande.<br>
            C'est le quartier préféré des voyageurs visitant Marrakech, selon les commentaires clients indépendants.<br>
            Sur place, vous profiterez d'un service de navette aéroport et d'un parking privé gratuit. Enfin, l'hôtel Les Jardins De La Koutoubia se trouve à 3 km du jardin de la Ménara.
        </p>
    </div>
    <br>
    </div>
    <!-- Menu Reservation  -->
    <div class="container">
        <div class="row">
            <div class="col">
                <section>
                    <form method="post" action="/reservation">
                        <div id="reservation">
                            <fieldset>
                                <legend  class="d-block p-2 bg-danger text-white">Marrakech<br>Beaucoup Plus ...</legend>
                                <p>
                                    Vous souhaitez réserver ?<br><br>
                                    <input type="radio" name="booking" value="Chambre Classique" id="Chambre Classique" /> <label for="Chambre Classique">Chambre Classique </label><br>
                                    <input type="radio" name="booking" value="Chambre Supérieur" id="Chambre Supérieur" /> <label for="Chambre Supérieur">Chambre Supérieur</label><br>
                                    <input type="radio" name="booking" value="Chambre Luxe" id="Chambre Luxe" /> <label for="Chambre Luxe">Chambre Luxe</label><br>
                                    <input type="radio" name="booking" value="Appartement" id="Appartement" /> <label for="Appartement">Appartement</label>
                                </p>
                                <div class="row">
                                    <p>
                                        <label  class="d-block p-2" for="booking_day">Jour d'arrivée :</label>
                                        <select name="day" id="day">
                                            <option value="01">01</option>
                                            <option value="02">02</option>
                                            <option value="03">03</option>
                                            <option value="04">04</option>
                                            <option value="05">05</option>
                                            <option value="06">06</option>
                                            <option value="07">07</option>
                                            <option value="08">08</option>
                                            <option value="09">09</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                            <option value="20">20</option>
                                            <option value="21">21</option>
                                            <option value="22">22</option>
                                            <option value="23">23</option>
                                            <option value="24">24</option>
                                            <option value="25">25</option>
                                            <option value="26">26</option>
                                            <option value="27">27</option>
                                            <option value="28">28</option>
                                            <option value="29">29</option>
                                            <option value="30">30</option>
                                            <option value="31">31</option>
                                        </select>
                                        <select name="month" id="month">
                                            <option value="01">Janvier</option>
                                            <option value="02">Février</option>
                                            <option value="03">Mars</option>
                                            <option value="04">Avril</option>
                                            <option value="05">Mai</option>
                                            <option value="06">Juin</option>
                                            <option value="07">Juillet</option>
                                            <option value="08">Aout</option>
                                            <option value="09">Septembre</option>
                                            <option value="10">Octobre</option>
                                            <option value="11">Novembre</option>
                                            <option value="12">Décembre</option>
                                        </select>
                                        <select name="year" id="year">
                                            <option value="2022">2022</option>
                                            <option value="2023">2023</option>
                                            <option value="2024">2024</option>
                                        </select>
                                    </p>
                                </div>
                                <div class="row">
                                    <p>
                                        <label  class="d-block p-2" for="booking_day">Jour de Départ:</label>
                                        <select name="day" id="day">
                                            <option value="01">01</option>
                                            <option value="02">02</option>
                                            <option value="03">03</option>
                                            <option value="04">04</option>
                                            <option value="05">05</option>
                                            <option value="06">06</option>
                                            <option value="07">07</option>
                                            <option value="08">08</option>
                                            <option value="09">09</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                            <option value="20">20</option>
                                            <option value="21">21</option>
                                            <option value="22">22</option>
                                            <option value="23">23</option>
                                            <option value="24">24</option>
                                            <option value="25">25</option>
                                            <option value="26">26</option>
                                            <option value="27">27</option>
                                            <option value="28">28</option>
                                            <option value="29">29</option>
                                            <option value="30">30</option>
                                            <option value="31">31</option>
                                        </select>
                                        <select name="month" id="month">
                                            <option value="01">Janvier</option>
                                            <option value="02">Février</option>
                                            <option value="03">Mars</option>
                                            <option value="04">Avril</option>
                                            <option value="05">Mai</option>
                                            <option value="06">Juin</option>
                                            <option value="07">Juillet</option>
                                            <option value="08">Aout</option>
                                            <option value="09">Septembre</option>
                                            <option value="10">Octobre</option>
                                            <option value="11">Novembre</option>
                                            <option value="12">Décembre</option>
                                        </select>
                                        <select name="year" id="year">
                                            <option value="2022">2022</option>
                                            <option value="2023">2023</option>
                                            <option value="2024">2024</option>
                                        </select>
                                    </p>
                                </div>
                            </fieldset>
                        </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <section>
                    <div id="coordonnees">
                        <fieldset>
                            <legend  class="d-block p-2 bg-danger text-white">Vos Coordonnées :</legend>
                            <p>
                                <label for="lastname">Votre Nom :</label> <br>
                                <input type="text" class="form-control" name="lastname" id="lastname"placeholder="Pan"  size="150" required />
                            </p>
                            <p>
                                <label for="firstname">Votre Prénom :</label> <br>
                                <input type="text" class="form-control" name="firstname" id="firstname" placeholder="Peter" size="150" required />
                            </p>

                            <p>
                                <label for="adress">Votre adresse :</label> <br>
                                <textarea class="form-control" name="adress" id="adress" placeholder="Montréal" rows="2" cols="150" required ></textarea>
                            </p>
                            <p>
                                <label for="postcode">Votre code Postal :</label> <br>
                                <input type="text" class="form-control" name="postcode" id="postcode" placeholder="H9X 0B3" size="150" required />
                            </p>
                            <p>
                                <label for="town">Votre Ville :</label> <br>
                                <input type="text" class="form-control" name="town" id="town" placeholder="Montréal" size="150" required />
                            </p>
                            <p>
                                <label for="town">Votre Pays :</label> <br>
                                <input type="text" class="form-control" name="town" id="country" placeholder="Canada" size="150" required />
                            </p>
                            <p>
                                <label for="email">Votre Email :</label> <br>
                                <input type="email" class="form-control" name="email" id="email" placeholder="contact@hyonos.com" size="150" required />
                            </p>
                            <p>
                                <label for="email">Veuillez Confirmer votre Email :</label> <br>
                                <input type="email" class="form-control" name="email" id="email" placeholder="contact@hyonos.com" size="150" required />
                            </p>
                            <p>
                                <label for="phone">Votre Téléphone :</label> <br>
                                <input type="phone" class="form-control" name="phone" id="phone" placeholder="01 02 03 04 05" size="150" required />
                            </p>
                        </fieldset>
                    </div>
                    <input type="submit" value="Envoyer votre Réservation" class="btn btn-danger"/>
                    </form>
                </section>
            </div>
        </div>
    </div>
{%endblock%}
